body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;}

header {background-color: maroon;
  color: white;
  font-family: 'Roboto';
  grid-column: span 12;
  padding: 10px;
  font-weight: bold;
  width: 1180px;}

nav {grid-column: span 12;}

nav ul {list-style: none;
  margin: 0;
  padding: 0;}
  
nav li {color: white;
  background-color: maroon;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 10px;
  margin: 10px 72px;
  width: 100px;
  display: inline-block;}

nav a {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: maroon;
  width: 80px;
  color: white;
  transition: background-color 1.0s, width 2.0s, color 2.0s;}

nav li a {color: white;
  background-color: maroon;
  text-decoration: none;}

nav li :hover {background-color: white;
  color: black;
  width: 80px}

main {grid-column: span 12;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
 outline: solid black 3px;}

.img1 {grid-column: span 4;
  width: 250px;
  margin-top: 30px;
  border: 3px solid black;}

footer{background-color: maroon;
  color: white;
  font-family: 'Roboto';
  grid-column: span 12;
  padding: 10px;
  width: 1180px;
  margin-top: 20px;}

.roundedbox {
  padding: 10px;
  width: 1180px;
  border: 2px solid darkgray;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #999;}

article {padding-right: 75px;
  padding-left: 45px;}

aside {padding: 0px 75px ;}

#myCarousel {
  display: block;
  margin-bottom: 24px;
  grid-column: span 12;}

#myCarousel .f-carousel__slide {
  margin: auto;
  text-align: center;
  padding: 24px;
  background: #eee;}