body {background-image: url(a5bg.png);}
h1 {font-family:  Helvetica; font-weight: normal; background-color: #ffffff; padding: 20px;}
h2 {font-family: Helvetica;border-bottom: 3px solid black;}

nav li {
    display: inline-block;
    padding: 0;
    margin: 10px;
    width: 150px;
    color:blue}
nav li a {
    color: #ffffff;
    display: block;
    border: 1px solid #000000;
    padding: 10px;
    background-color: blue;}

div {background-color: white;text-align: justify;padding: 5px; margin-bottom: 10px;}

nav li a {color: white;}
nav li a:link {color: white;}
nav li a:visited {color: white;}
nav li a:active {color: white;}
nav li a:hover {color: white;background-color: lightblue;} 

p a {color: blue; text-decoration: none;}
p a:link {color: blue; text-decoration: none;}
p a:visited {color: blue; text-decoration: none;}
p a:active {color: blue; text-decoration: none;}
p a:hover {color: red; text-decoration: underline;}

footer {color: white;
background-color: darkblue;
padding: 5px;
border-style: solid; 
font-family: verdana;
font-weight: bold;
font-style: italic;
text-align: center;}